body{
    background-color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: Verdana, Helvetica, sans-serif;
    color: grey;
}


html, body { height:100%; }

h1{
    color: black;
    text-align: center;

}

h2{
    color: black;
    text-align: center;
}

p{
    font-size: 10px;

}

div#logo{
    float: left;
    vertical-align: text-bottom;
}

.head{
    height: 100px;
    background-color: #ff1100;

}

div.footer{

    border-top: 1px solid #e4e6e8;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    width: 78%;
    position: relative;
    z-index: 50;
    box-shadow: 0 -20px 30px -15px rgba(0,0,0,0.2);
    margin-left: 11%;
    min-height: 10%;
}

.header-button{
    background-color: black;
    font-size: 12px;
    padding: 16px 8px;
    transition-duration: 0.4s;
    color: white;
    float: left;
    cursor: pointer;
    border: 0;


}

.search-button {
    background-color: black;
    font-size: 12px;
    padding: 18px 9px;
    transition-duration: 0.4s;
    color: white;
    float: left;
    cursor: pointer;
    border: 0;
}

.search-button:hover{
    background-color: #4d4d4d;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.header-button:hover{
    background-color: #4d4d4d;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.selection{
    height: 47px;
    background-color: black;
    width: 100%;
    display: inline-block;
    position: relative;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    z-index: 99999;



}

.selection-text{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 16px 8px;
    float: right;
    border: 0;

}

.main{
    background-color: white;
    width: 78%;
    font-size: larger;
    margin: auto;
    border-radius: 0;
    overflow: scroll;
    max-height: 95%;
    z-index: 1;
    
}

#main-with-youtube{
    width: 800px;
    margin-left: 140px;
    margin-right: 0;
    height: 200px;
    float: left;
    
}

#youtube{
    margin-top: 10px;
    min-height: 300px;
    width: 190px;
    float: right;
    margin-right: 140px;
    overflow: auto;
    border: 1px solid #e4e6e8;
    font-size: 60%;

}

#youtube-header{
    background-color: black;
    color: #ffffff;
    height: 20px;
    text-align: center;

}

.posts{
    font-weight: normal;
    margin-bottom: .5em;
    color: black;
    border-bottom: 1px solid #e4e6e8;
    padding-bottom: 5px;
    padding-top: 5px;

}

.author{
    color: grey;
    font-size: 40%;
    float: right;

}

.post-text{
    font-size: small;
    background-color: white;
    margin-right: 2%;
    margin-left: 2%;
    float: left;
    
}

.background{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 75%;
    padding: 0;
    z-index: 13;


}

.logo-pokemon {
    background-color: transparent;
    height: auto;
    position: static;
}

.search{
    border-radius: 30px;
    margin-top: 15px;
    float: left;
    border: 1px solid black;
    background-color: white;

}

.search[type=text] {
    width: 5%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}

input.search[type=text]:focus {
    width: 20%;

}

.search:hover{
    width: 20%;
}


.button{
    background-color: red;
    border: 0;
    padding: 5px 12px;
    border-radius: 7px;
    box-shadow: -2px -2px 2px #D84124 inset, 2px 2px 3px #ff5c33 inset;
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 10px
}

.button:hover{
    cursor: pointer;
    
}

#login-main{
    position: absolute;
    background: #F8F8F8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 450px;
    margin: auto;
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: 1px 1px 4px #aaaaaa;

}

#sign-up{
        border-top: 1px solid #E3E4E5;
}


#login-table{
    margin-left: 172px;

}

#sign-up-table{
    margin-left: 117px
}

#login-header{
    background-color: red;
    min-height: 28px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0 10px 10px 10px;
}

#login-logo{
    width: 450px;
    height: 150px;
}

.input-label{
    font-size: 12px;
    color: grey;
    text-align: right;

}

.login-form-label{
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
    text-align: left;

}

.youtube-post{
    margin-right: 5px;
    margin-left: 5px;
}

span{
    vertical-align: middle;
    font-size: 12px;
}

#login-table{
    margin-left: 192px;

}

#sign-up-table{
    margin-left: 150px;

}

#header{
    position: fixed;
    height: 500px;
}

#posts-title{
    font-size: 24px;
    line-height: 1.35;
    font-weight: normal;
    color: black;
    border-bottom: 1px solid #e4e6e8;
    padding-bottom: 5px;
    padding-top: 5px;

}

.title{
    font-size: 15px;
    color: black;
    float: left;

}

.post-table{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

}

.post-content{
    font-size: 10px;
    color: #4d4d4d;
}

#content{
    resize: both;
    overflow: auto;
    height: 200px;
    width: 400px;
    border: 1px solid lightgray;
    
}

*:focus {
    outline: none;
}

input[type=radio] {
    border: 0;
    width: 100%;
    height: 4em;

}

.message{
    color: #ff0000;
    font-size: 10px;
    line-height: 1px;
}

a{
    color: black;
    text-decoration: none;

}

.main-header{
    height: 120px;

}