


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles.css"/>
</head>
<body>
<div class="selection">

    <a href="index.html">
        <button class="header-button">Home</button>
    </a>
    <a href="pokego.html">
        <button class="header-button">Pokemon Go</button>
    </a>
    </a>
    <a href="tcg.html">
        <button class="header-button">TCG</button>
    </a>
    </a>
    <a href="movies.html">
        <button class="header-button">Movies</button>
    </a>
    </a>
    <a href="actfigs.html">
        <button class="header-button">Action Figs</button>
    </a>
    <a href="extra.html">
        <button class="header-button">Extra</button>
    </a>

    <button class="selection-text">Awesomeblog.online</button>

    <form id="search-bar">
        <input id="search-text" class="search" type="text" name="search" placeholder="Search.." autocomplete="off">
        <script>search()</script>
    </form>
</div>

</body>
</html>