


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles.css"/>
</head>
<body>
<div>
    <div class="logo-pokemon">
        <img id="logo" src="../static/Pictures/pokemon-logo-1.gif">
    </div>
<div class="selection">

    <a href="{{ url_for('index')}}">
        <button class="header-button">Home</button>
    </a>
    <a href="pokego.html">
        <button class="header-button">Pokemon Go</button>
    </a>
    <a href="tcg.html">
        <button class="header-button">TCG</button>
    </a>
    <a href="movies.html">
        <button class="header-button">Movies</button>
    </a>
    <a href="actfigs.html">
        <button class="header-button">Action Figs</button>
    </a>
    <a href="extra.html">
        <button class="header-button">Extra</button>
    </a>

    <button class="selection-text">Awesomeblog.online</button>

    <form id="search-bar">
        <input id="search-text" class="search" type="text" name="search" placeholder=" Search.." autocomplete="off">
    </form>
</div>
</div>
<div>
    {% block content %}{% endblock %}
</div>
</body>
</html>