<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="background">
    <div class="main">
        <div align="center" id="posts-title">
            Recent Posts
        </div>
        {% for posts in post %}
                <div class="posts">
                    <div class="post-header">
                        <p class="title post-table">{{ posts.title.title() }}</p>
                        <p class="author post-table">Author: {{ posts.author }}</p>
                    </div>
                    <br>
                    <div><p class="post-content">{{ posts.body }}</p></div>
                </div>
        {% endfor %}
    <a href="{{ url_for('post') }}">
        <button class="button">New Post</button>
    </a>
    </div>

</div>

{% endblock %}