<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="background">
    <div class="main">
        <div align="center" id="posts-title">
            Recent Posts
        </div>
        <div align="center">
            <a href="https://www.youtube.com">
                <button class="posts">TCD<br><img border="1px" src="../static/Pictures/imgres.jpg"></button>
            </a>

        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

</div>

{% endblock %}