<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login - Pokeblog</title>
    <script src="../static/main.js"></script>
    <link href="../static/styles.css" rel="stylesheet">

</head>

<body>


<div id="login-main">
<div id="login-header"></div>
<img src="../static/Pictures/pokemon-logo-1.gif" id="login-logo">
    <form method="post" action="{{ url_for('after_login') }}" id="form" name="form">
    <table id="login-table">
        <tbody>
        <tr>
            <td></td>
            <td class="login-form-label table-row">Sign in</td>
        </tr>
        <tr>
            <td align="right"><label for="username" class="input-label">Username:</label></td>
            <td>
                <input name="username" type="text" id="username">
            </td>
        </tr>
        <tr>
            <td align="right"><label for="password" class="input-label">Password:</label></td>
            <td class="table-row">
                <input name="password" type="password" id="password">
            </td>
        </tr>
        <tr>
            <td></td>
            <td align="left">
                <input type="submit" value="Sign in" class="button" id="login-button">
            </td>


        </tr>
        </tbody>
    </table>
</form>
<div id="sign-up">
    <form method="post" action="">
        <table id="sign-up-table">
            <tbody>
                <tr>
                    <td></td>
                    <td class="login-form-label table-row">Add account</td>
                </tr>
                <tr>
                    <td align="right"><label class="input-label" for="new-username">Username:</label></td>
                    <td>
                        <input name="new-username" type="text" id="new-username">
                    </td>
                </tr>
                <tr>
                    <td align="right"><label class="input-label" for="new-password">Password:</label></td>
                    <td>
                        <input name="new-password" type="password" id="new-password">
                    </td>
                </tr>
                <tr>
                    <td align="right"><label class="input-label" for="confirm password">Retype Password:</label></td>
                    <td><input name="confirm-password" type="password" id="confirm password"></td>
                </tr>
                <tr>
                    <td align="right"><label class="input-label" for="new-email">Email:</label></td>
                    <td><input name="new-email" type="text" id="new-email"></td>
                </tr>
                <tr>
                    <td></td>
                    <td align="left"><input type="submit" class="button" value="Sign up"></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

</div>
</body>
</html>