<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login - Pokeblog</title>
    <link rel="shortcut icon" href="../static/Pictures/Pokeblog-header.png" />
    <script src="../static/main.js"></script>
    <link href="../static/styles.css" rel="stylesheet">

</head>

<body>


<div id="login-main">
    <div id="login-header"></div>
    <div align="center">
        <img src="../static/Pictures/Pokeblog.jpg" id="login-logo">
    </div>

    <form method="post" action="" id="form" name="form">
        <table id="login-table">
            <tbody>
            <tr>
                <td></td>
                <td class="login-form-label table-row">Sign in</td>
            </tr>
            <tr>
                <td></td>
                <td style="padding: 0;">
                    {% if error %}
                    <p class=error style="color: red; margin: 0;"> {{ error }}
                        {% endif %}
                </td>
            </tr>
            <tr>
                <td align="right"><label for="username" class="input-label">Username:</label></td>
                <td>
                    <input name="username" type="text" id="username">
                </td>
            </tr>
            <tr>
                <td align="right"><label for="password" class="input-label">Password:</label></td>
                <td class="table-row">
                    <input name="password" type="password" id="password">
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="left">
                    <input type="submit" value="Sign in" class="button" id="login-button">
                </td>


            </tr>
            </tbody>
        </table>

    </form>
    <div align="center"><p>or</p></div>
    <div align="center">
        <button class="button"><a href="{{ url_for('index') }}">Go to home</a></button>
        <button class="button"><a href="{{ url_for('add') }}">Create account</a></button>
    </div>
</div>
</body>
</html>