<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<!--suppress ALL -->
<div class="background">
    <div class="main">
        <div align="center" id="posts-title">
            Pokemon Go Posts
        </div>
        {% for posts in post.items %}
        <div class="posts">
            <div class="post-header">
                <p class="title post-table">{{ posts.title }}</p>
                {% if posts.user == current_user %}
                <p class="author post-table">Post by: You</p>
                {% else %}
                <p class="author post-table">Post by: {{ posts.user }}</p>
                {% endif %}
                <p class="author post-table">Last edited: {{ posts.timestamp }}&nbsp;&nbsp;&nbsp;</p>
            </div>
            <br>
            <div><p class="post-content">{{ posts.body }}</p></div>
            <div>
                {% if current_user == posts.user %}
                    <table>
                        <tr>
                            <td>
                                <form action="{{ url_for('edit') }}" method="get">
                                    <input type="hidden" value="{{ posts.id }}" name="post-id">
                                    <input type="submit" value="Edit" class="button">
                                </form>
                            </td>
                            <td>
                                <form action="{{ url_for('delete') }}" method="get">
                                    <input type="hidden" value="{{ posts.id }}" name="post-id">
                                    <input type="submit" value="Delete" class="button">
                                </form>
                            </td>
                        </tr>
                    </table>
                {% endif %}
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="footer">
    <div>
        {% if post.has_prev %}<button class="button"><a href="{{ url_for('index', page=post.prev_num) }}">Previous page</a></button>
        {% else %}<button class="button" style="cursor: not-allowed;">Previous page</button>{% endif %}
        {% if post.has_next %}<button class="button"><a href="{{ url_for('index', page=post.next_num) }}">Next page</a></button>
        {% else %}<button class="button" style="cursor: not-allowed;">Next page</button>{% endif %}
    </div>
    <div>

            {% if signed_in %}
            <a href="{{ url_for('post') }}">
                <button class="button">New Post</button>
            </a>
        {% endif %}
    </div>
    </div>
</div>

{% endblock %}