<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<!--suppress ALL -->
<div class="background" style="height: 75%;">
    <div class="main" style="width: 67%; margin: 2% 0 0 11%; float: left; height: 453px;">
        <div align="center" id="posts-title">
            TCG Posts
        </div>
        {% for posts in post.items %}
        <div class="posts">
            <div class="post-header">
                <p class="title post-table">{{ posts.title }}</p>
                {% if posts.user == current_user %}
                <p class="author post-table">Post by: You</p>
                {% else %}
                <p class="author post-table">Post by: {{ posts.user }}</p>
                {% endif %}
                <p class="author post-table">Last edited: {{ posts.timestamp }}&nbsp;&nbsp;&nbsp;</p>
            </div>
            <br>
            <div><p class="post-content">{{ posts.body }}</p></div>
            <div>
                {% if current_user == posts.user %}
                    <table>
                        <tr>
                            <td>
                                <form action="{{ url_for('edit') }}" method="get">
                                    <input type="hidden" value="{{ posts.id }}" name="post-id">
                                    <input type="submit" value="Edit" class="button">
                                </form>
                            </td>
                            <td>
                                <form action="{{ url_for('delete') }}" method="get">
                                    <input type="hidden" value="{{ posts.id }}" name="post-id">
                                    <input type="submit" value="Delete" class="button">
                                </form>
                            </td>
                        </tr>
                    </table>
                {% endif %}
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="youtube-post-div">
        <div class="youtube-header">On Youtube</div>
        <div class="youtube-main">
            {% for y in yposts %}
            <a style="display: block" href="http://{{ y.link }}" class="youtube-post-link">
                <div class="youtube-post">
                    <table>
                        <tr>
                            <td class="post-table"><p class="title post-table" style="font-size: small">{{ y.title }}</p></td>
                        </tr>
                        <tr>
                            <td class="post-table"><p class="post-content post-table">{{ y.body }}</p></td>
                        </tr>
                        {% if admin %}
                        <tr>
                            <td style="width: 100%;">
                                <form action="{{ url_for('yedit') }}">
                                    <input type="hidden" value="{{ y.id }}" name="y-id">
                                    <input value="Edit" type="submit" class="button" style="margin: 0;">
                                </form>
                                <form action="{{ url_for('ydelete') }}">
                                    <input type="hidden" value="{{ y.id }}" name="y-id">
                                    <input value="Delete" type="submit" class="button" style="margin: 0;">
                                </form>
                            </td>
                        </tr>
                        {% endif %}

                    </table>
                </div>
            </a>
            {% endfor %}
        </div>
        {% if admin %}
        <div align="center">
            <a href="{{ url_for('ypost') }}">
                <button class="button">New Post</button>
            </a>
        </div>
        {% endif %}
    </div>
    <div class="footer" style="width: 67%; height: 10%; margin-top: 37.5%">
        {% if post.has_prev %}<button class="button"><a href="{{ url_for('tcg', page=post.prev_num) }}">Previous page</a></button>
        {% else %}<button class="button" style="cursor: not-allowed;">Previous page</button>{% endif %}
        {% if post.has_next %}<button class="button"><a href="{{ url_for('tcg', page=post.next_num) }}">Next page</a></button>
        {% else %}<button class="button" style="cursor: not-allowed;">Next page</button>{% endif %}
        <div>
    
                {% if signed_in %}
                <a href="{{ url_for('post') }}">
                    <button class="button">New Post</button>
                </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}